body {
    
}

.btn-block {
    width: 100%;
}

.page-title {
    word-break: break-all;
    display: inline-block;
}

.create {
    display: inline-block;
    float: right;
    font: 2vh 'ltsaeada';
    color: #0f454a;
}

.product-info {
    display: inline-block;
    border: 0px solid #cccccc;
    box-shadow: 0 .25rem .75rem grey;
    border-radius: 5px;
    background-color: #f5f4f2;
    width: 250px;
    height: 250px;
    overflow: hidden;
    text-align: center;
    padding: 0.5vw;
    margin: 1vw;
}

.name {
    font: 30px 'ltsaeada';
    color: black;
    text-decoration: underline;
    text-decoration-color: #f5f4f2;
}

.btn-light {
    width: 100%;
    font: 30px 'ltsaeada';
}

.date {
    font: 13px 'ltsaeada';
    color: grey;
    text-decoration: underline;
    text-decoration-color: #f5f4f2;
}

.search-bar {
    width: 10vw;
    border-radius: 3px;
}

.search-label {

}

.search-sort {
    border-radius: 3px;
}

.search-button {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.sidebar {
    height: auto;
    border-right: 1px solid #cccccc;
    bottom: 10vh;
    left: 0;
}

.sidebar-sm {
    margin: auto;
    display:none;
}


.scrollbox {
    height: auto;
    overflow: auto;
    padding-bottom: 10vh;
    background-color: #E6E6E6;
}

@media (max-width: 540px) {
    img {
        width: 70vw;
        height: 70vw;
        object-fit: cover;
        border-radius: 5px;
    }
    .product-info {
        width:90%;
        margin:5%;
        height: auto;
    }
}

@media (max-width: 990px) {
    .sidebar {
        display:none;
    }
    .sidebar-sm {
        display:block;
    }
}


