@inherits LayoutComponentBase


<img style="overflow:hidden;width:5vw;height:100%;" src=" imgs/bitsandbotslogo.svg" />
<a class="navbar-brand" asp-area="" asp-page="/Home">Bits and Bots</a>
<div class="profile">profile</div>
<div class="page">

    <main>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item border-right">
                            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                                <img style="overflow:hidden;width:2vw;height:100%;" src=" imgs/home.svg" />
                            </NavLink>
                        </li>
                        <li class="nav-item border-right">
                            <NavLink class="nav-link" href="/products" Match="NavLinkMatch.All">
                                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Products
                                <img style="overflow:hidden;width:2vw;height:100%;" src=" imgs/products.svg" />
                            </NavLink>
                        </li>
                        <li class="nav-item border-right">
                            <NavLink class="nav-link" href="/events" Match="NavLinkMatch.All">
                                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Events
                                <img style="overflow:hidden;width:2vw;height:100%;" src=" imgs/events.svg" />
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/fundraisers" Match="NavLinkMatch.All">
                                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Fundraisers
                                <img style="overflow:hidden;width:2vw;height:100%;" src=" imgs/fundraiser.svg" />
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>

        

    </main>
</div>



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
