@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@implements IDisposable

@inject NavigationManager NavigationManager



<div class="page">

    <div class="class=box-shadow mb-3">
        <article class="total-head">
            <div class="container top-head">
                <img class="logo" src=" imgs/bitsandbotslogo.svg" />
                <a class="navbar-brand" asp-area="" asp-page="/Home">Bits and Bots</a>

                <div class="profile">
                    <AuthorizeView>
                        <Authorized>
                            <div class="nav-item px-3">
                                <NavLink class="nav-link" href="@(context.User.Identity?.Name + "/Profile")">
                                    <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                                </NavLink>
                            </div>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink script="border-right: 3px solid #FB5454;" class="nav-link border-right2" href="/account/login" Match="NavLinkMatch.All">
                                <span class="nav-text" aria-hidden="true"></span>
                                <p class="nav-text-2">log in</p>
                            </NavLink>
                            <NavLink class="nav-link" href="/account/register" Match="NavLinkMatch.All">
                                <span class="nav-text" aria-hidden="true"></span>
                                <p class="nav-text-2">Register</p>
                            </NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>

        
            <nav class="navbar navbar-expand border-bottom">
                <div style="width: 100%;" class="container">

                    <div>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item border-right">
                                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                    <span aria-hidden="true"></span> 
                                    <p class="nav-text">HOME</p>
                                    <! img style="overflow:hidden;width:2vw;height:100%;" src=" imgs/home.svg" />
                                </NavLink>
                            </li>
                            <li class="nav-item border-right">
                                <NavLink class="nav-link" href="/products" Match="NavLinkMatch.All">
                                    <span aria-hidden="true"></span> 
                                    <p class="nav-text">PRODUCTS</p>
                                    <! img style="overflow:hidden;width:2vw;height:100%;" src=" imgs/products.svg" />
                                </NavLink>
                            </li>
                            <li class="nav-item border-right">
                                <NavLink class="nav-link" href="/events" Match="NavLinkMatch.All">
                                    <span aria-hidden="true"></span> 
                                    <p class="nav-text">EVENTS</p>
                                    <! img style="overflow:hidden;width:2vw;height:100%;" src=" imgs/events.svg" />
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/fundraisers" Match="NavLinkMatch.All">
                                    <span aria-hidden="true"></span> 
                                    <p class="nav-text">FUNDRAISERS</p>
                                    <! img style="overflow:hidden;width:2vw;height:100%;" src=" imgs/fundraiser.svg" />
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </article>
    
        <main>
        

            <article class="content px-4">
                @Body
            </article>

        

        </main>
    </div>
</div>

<article class="footer">
    footer
</article>



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}