

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    display: contents;
    color: #0f454a;
    font: 4vh 'tondu';
    margin-bottom: 10vh;
    height: 30vh;
}

.logo {
    overflow: hidden;
    width: auto;
    height: 100%;
}



p.nav-text {
    font: 20px 'ltsaeada';
    color: #F3E1D8;
    text-align: center;
    margin: auto;
}

a.nav-link.active {
    font: 20px 'ltsaeada';
    color: black;
    text-align: center;
    margin: auto;
}

p.nav-text-2 {
    color: #ec8959;
}

.total-head {
    background-color: #FFFFFF;
}

.top-head {
    height: 10vh;
    max-width:100%;
    overflow: hidden;
}

.navbar {
    background-image: linear-gradient(#ec8959, #df7a50);
    max-width: auto;
}

.profile {
    display: flex;
    float: right;
    font: 3vh 'ltsaeada';
    color: #0f454a;
    margin: 1vw;
}


a {
    color: #dd6236;
    text-decoration: none;
}


.nav-item {
    padding-left: 2vw;
    padding-right: 2vw;
    font: 1.5vw 'ltsaeada';
    color: #0f454a;
}




.border-top {
    border-top: 1px solid #F3E1D8;
}

.border-bottom {
    border-bottom: 1px solid #F3E1D8;
}
.border-right {
    border-right: 1px solid #F3E1D8;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem #D8D8D8;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    line-height: 10vh;
    background-image: linear-gradient(#ec8959, #ce6a46);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
}




#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 540px) {
    
    p.nav-text {
        font: 10px arial;
    }
}

@media (max-width: 680px) {

    a.navbar-brand {
        display: none;
    }
}

