.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    display: contents;
    color: #0f454a;
    font: bold 2vw 'Trebuchet MS';
    margin-bottom: 10vw;
}

.profile {
    float: right;
    font:2vw arial;
    margin:1vw;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-item {
    padding-left: 2vw;
    padding-right: 2vw;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
.border-right {
    border-right: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0vh;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}




#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
